
/**::-webkit-scrollbar{display:none}*/
html, body{
    /* background: rgb(18,18,18);  
    background: linear-gradient(165deg, rgba(18,18,18,1) 0%, rgba(0,0,0,1) 100%); */
    min-height: 100vh;
    position: relative;
    background: #000000;
}

/* Для скрытия скроллбара в Chrome, Safari и Edge
*::-webkit-scrollbar {
    display: none; 
}
body {
    scrollbar-width: none; 
} */

html, body {
    width: 100vw;
    overflow-x: hidden;
}

/* Стилизация полосы прокрутки (трека) */
::-webkit-scrollbar {
    width: 10px; /* Ширина вертикального ползунка */
    height: 10px; /* Высота горизонтального ползунка */
  }
  
  /* Стилизация ползунка (thumb) */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); /* Полупрозрачный белый цвет */
    border-radius: 5px; /* Закруглённые края */
    transition: background 0.2s ease; /* Плавное изменение цвета при наведении */
  }
  
  /* Стилизация ползунка при наведении */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Более яркий цвет при наведении */
  }
  
  /* Стилизация трека (фона полосы прокрутки) */
  ::-webkit-scrollbar-track {
    background: transparent; /* Прозрачный фон */
  }
  
  /* Стилизация угла между вертикальной и горизонтальной полосами прокрутки */
  ::-webkit-scrollbar-corner {
    background: transparent; /* Прозрачный фон */
  }

.no-scale {
    transform: none !important;
    width: auto !important;
    height: auto !important;
}


.DecorLinks a{
    color: #bdbdbd;
    text-decoration: none;
}
.CutText .Text{
    overflow: hidden;
    height: 200px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%,  rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%);
}
.Oblique{
    font-style: oblique;
}
.LeftAlign{
    justify-content: start;
}
.RightAlign{
    justify-content: end;
}
.text-color--pink{
    color: #fc466b;
}
.text-color--orange{
    color: #d33a17;
}
.text-color--spotify{
    color: #1ED760;
}
.Cut{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Regular{
    font-weight: 500;
    letter-spacing: 0.7px;
}
.Block{
    display: block;
    width: 100%;
}
.text-color--new_red{
    color: #f40000;
}
.text-color--new_blue{
    color: #16a7ff;
}
.text-color--new_violet{
    color: #5865F2;
}
.text-color--new_green{
    color: #57F287;
}
.text-color--new_hover{
    color: #78787aa3;
}
.text-color--vk{   
    color: rgb(224, 95, 255);
}
.text-color--maj{
    color: rgb(223, 0, 91);
}
.text-color--easy{
    color: #d63c37;
}
.text-size--60px{
    font-size: 60px;
}
.text-size--70px{
    font-size: 70px;
}
.regular-weight{
    font-weight: 0.9px;
}
.img-text{
    display: inline-flex;
    flex-flow: row nowrap;
}
.img-text .img{
    display: flex;
    padding: 0px 5px 0px 0px;
    align-items: center;
}
.img-text .text{
    display: flex;
    padding: 0px px;
    align-items: center;
}
.text-color--new_grey{
    color: #eee;
}
.mini-blue-button{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 17px;
    background: rgb(0, 119, 255);
    white-space: nowrap;
    line-height: 1.2;
}

.button-animate{
    transition: all .1s ease-out;
}
.button-animate:active{
    opacity: .7;
    transform: scale(.97);
}

.button-animate-no-opacity{
    transition: all .1s ease-out;
}
.button-animate-no-opacity:active{
    transform: scale(.97);
}

.button-animate-inc{
    transition: all .1s ease-out;
}
.button-animate-inc:hover{
    opacity: 0.8;
}
.button-animate-inc:active{
    opacity: 1.1;
    transform: scale(1.03);
}
.display--real-block{
    display: block;
}
/*#9A9999 - ico grey*/


.global-plug{
    position: absolute;
    z-index: 999999999;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    vertical-align: top;
    background: black;
    pointer-events: none;
    opacity: 1;
}
.global-plug .loader {
    width: 60px;
    height: 60px;
    border: 3px solid rgb(0, 119, 255);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
@keyframes Show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes Hide{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.HideButton{
    animation: Hide 0.5s forwards;
}

.button-animate-new{
    transition: all .1s ease-out;
    box-shadow:0 0 10px #555;
}
.button-animate-new:active{
    opacity: 1.5;
    transform: scale(.97);
}

@keyframes RatingAnimate{
    0%{
        transform: scale(1.27);
    }
    100%{
        transform: scale(1);
    }
}

.NU .left-plug{
    position: absolute;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.5898006663602942) 20%, rgba(0,0,0,0) 90%);
    pointer-events: none;
}
.NU .right-plug{
    position: absolute;
    z-index: 9999;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50px;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,0.5898006663602942) 20%, rgba(0,0,0,0) 90%);
    pointer-events: none;
}

@keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
.TransFusion{
    background: linear-gradient(
      to right,
      #f0ebeb 0%,
      black 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 6s ease-in-out infinite alternate;
    transition: 15s;
}

.UI_Loading{
    padding: 8px 15px;
    text-align: center;
    display: block;
    height: 100px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MidLoader {
    width: 48px;
    height: 48px;
    border: 3px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 


    @keyframes ShowTitle{
        0%{
            margin-left: -40px;
            opacity: 0; 
        }
        100%{
            margin-left: 0px;
            opacity: 1; 
        }
    }
    
    .ShowTitle{
        opacity: 0; 
        animation: ShowTitle 0.3s forwards;
    }

    .ButtonAnimate{
        transition: all .1s ease-out;
    }
    .ButtonAnimate:hover{
        transform: scale(1.03);
    }

    .EasyFlow{
        -webkit-transition: all 0.22s ease;
                transition: all 0.22s ease; 
    }


    select option{
        background: rgba(15,15,15);
        color: white;
    }
    .AnimateSize{
        transition: transform 0.2s ease; /* Плавный переход для трансформации */
    }
    .AnimateSize:hover {
        transform: scale(1.03); /* Увеличиваем элемент на 0.04% */
    }


    .nocopy {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
      }