<div class='__pageState PageState'>
    <div class='Box'>
        <div onclick='NavigationModel.returnBack()' class='__returnButton Button'><img src='web/ico/eee/back.png'></div>
    </div>
    <div class='Bar'>
        <div class='Text'>
            <div class='Capture Cut'>
                <div class='Swift __captureText Cut'></div>
            </div>
        </div>
    </div>
</div>