
<div class='ProfilePlug'>
    <div class='ProfilePlugActive'>
        <img class='ProfilePlugIco' src='https://130bit.com/web/ico/default/default_user_avatar.jpg'>
        <div class='ProfilePlugTitle'>Войдите в аккаунт</div>
        <div class='ProfilePlugAd Regular text-face--regular'>
            Войдите в аккаунт для управления коллекцией альбомов, добавления треков в избранное, комментирования релизов и ёбаной кучи других плюшек...
        </div>
        <div class='ProfilePlugActions'>
            <div class='Button' onclick='window.location.href = `https://my.130bit.com`;'>Войти</div>
            <div class='Button Main' onclick='window.location.href = `https://my.130bit.com/create`;'>Создать аккаунт</div>
        </div>
    </div>
</div>