
/*Comments*/
.Element__CommentsService{
    padding: 10px 15px;
}
.Element__CommentInput{
    display: inline-flex;
    width: 100%;
    transition: all 0.4s ease; 
    flex-flow: row nowrap;
    gap: 10px;
    background: #222222;
    box-shadow: 0 0 10px #000000;
    border-radius: 22px;
}
.Element__CommentInput .InputArea{
    display: flex;
    width: 100%;
    align-items: ceter;
    justify-content: start;
}
.Element__CommentInput .InputArea input{
    width: calc(100% - 30px);
    padding: 14px 15px;
    border-radius: 13px;
    background: none;
    font-size: 15px;
    color: #eee;
    outline: none;
    border: none;
    resize: none;
    border-radius: 22px;
}
.Element__CommentInput .SubmitArea{
    display: inline-flex;
    width: 40px;
    min-width: 40px;
    align-items: center;
    justify-content: center;
}
.Element__CommentInput .SubmitButton{
    background: #eee;
    display: inline-flex;
    width: 38px;
    min-width: 38px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 38px;
    transition: all 0.2s ease; 
    cursor: pointer;
}
.Element__CommentInput .SubmitButton img{
    width: 24px;
    height: 24px;
}


/*Comments Canvas*/
.Element__CommentsCanvas{
    display: block;
    background: #000000;
    padding: 15px;
    margin: 0px;
    border-top: 1px solid #222222;
}
.Element__CommentsCanvas .Comment{
    padding: 10px 15px;
    border-left: 1px solid #222222;
    text-align: left;
    margin-top: 15px;
}
.Element__CommentsCanvas .Comment .User{
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 10px;
    max-width: 300px;
    margin-bottom: 8px;
    cursor: pointer;
    width: 100%;
}
.Element__CommentsCanvas .Comment .User .Box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.Element__CommentsCanvas .Comment .User .Box .Avatar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-size: cover;
    border: 1px solid #222222;
}
.Element__CommentsCanvas .Comment .User .Bar{
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}
.Element__CommentsCanvas .Comment .User .Bar .Name{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 17px;
    color: #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}   
.Element__CommentsCanvas .Comment .Text{
    font-size: 15px;
    color: #eee;
    line-height: 1.2;
    margin: 8px 0px;
    margin-bottom: 12px;
}
.Element__CommentsCanvas .Comment .Actions{
    font-size: 13px;
    line-height: 1.2;
    margin: 5px 0px;
    cursor: pointer;
}
.Element__CommentsCanvas .Comment .Actions .Action{
    display: inline-block;
    transition: all 0.2s ease; 
    color: grey;
}
.Element__CommentsCanvas .Comment .Action:hover{
    color: #eee;
}
.Element__CommentsCanvas .Comment .Response{
    margin: 7px 0px;
    transition: all 0.2s ease; 
}
.Element__CommentsCanvas .Comment .Children{
    margin: 12px 0px;
    transition: all 0.2s ease; 
}

/*Comments Preview*/
.Element__CommentsCanvas .Preview{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Element__CommentsCanvas .Preview *{
    /* outline: 1px dashed violet; */
}
.Element__CommentsCanvas .Preview .Accent{
    display: block;
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}
.Element__CommentsCanvas .Preview .Accent .Title{
    font-size: 36px;
    color: #eee;
    line-height: 1.2;
    margin: 10px 0px;
}
.Element__CommentsCanvas .Preview .Accent .Ad{
    font-size: 17px;
    color: grey;
    line-height: 1.2;
    margin: 10px 0px;
}
.Element__CommentsCanvas .Preview .Accent .Actions{
    margin: 10px 0px;
}
.Element__CommentsCanvas .Preview .Accent .Actions .Button{
    margin: 10px 10px;
    display: inline-block;
    text-align: center;
    padding: 14px 18px;
    border-radius: 24px;
    background: #222222;
    font-size: 18px;
    color: #eee;
    cursor: pointer;
}
.Element__CommentsCanvas .Preview .Accent .Input{
    margin: 10px 0px;
    margin-top: 40px;
}


/*Comments Preview*/
